KMA_SERVICE_KEY=your_kma_api_key
DEFAULT_NX=89
DEFAULT_NY=90

KWATER_API_URL=http://apis.data.go.kr/B500001/dam/excllncobsrvt/hourwal/hourwallist
KWATER_SERVICE_KEY=your_kwater_api_key
KWATER_DAMCODE=1012110
KWATER_WAL=1010640
